
.img-tam{
    width: 202px;
    height: 202px;
}


@media only screen and (max-width: 1185px) {
    .img-tam{
        width: 166px;
        height: 166px;
    }
}


@media only screen and (max-width: 992px) {
    .img-tam{
        width: 118px;
        height: 118px;
    }
}

@media only screen and (max-width: 768px) {
    .img-tam{
        width: auto;
        height: auto;
    }
}